<div class="col-md-12">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)" class="form-horizontal">
        <div class="form-group">
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Search" formControlName="query">
                <!--<span class="label label-danger">Danger</span>-->
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="Owner id" formControlName="user_id">
            </div>
            <div class="col-md-6">
                <button type="submit" [disabled]="!searchForm.valid" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-default" (click)="searchForm.reset()">Cancel</button>
            </div>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
    </form>
</div>
<div class="col-md-12" *ngIf="searchQueries.length > 0">
    <div class="row">
        <div class="col-md-2">Sort by:</div>
        <div class="col-md-2">
            <button type="button" class="btn btn-info btn-xs" [ngClass]="{'active': sortKey=='datetaken'}" (click)="sortItems('datetaken')">Date taken</button>
            <button type="button" class="btn btn-info btn-xs" [ngClass]="{'active': sortKey=='dateupload'}" (click)="sortItems('dateupload')">Date uploaded</button>
            <button type="button" class="btn btn-info btn-xs" [ngClass]="{'active': sortKey=='views'}" (click)="sortItems('views')">Views</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" *ngFor="let item of searchQueries">
            <div class="thumbnail">
                <a [routerLink]="getTagDetailsLink(item.tag, item.userId)">
                    <img src="{{item.image}}" alt="{{item.tag}}">
                </a>
                <div class="caption">
                    <h3>{{item.tag}}</h3>
                    <p><label>Owner:</label> {{item.ownername}}</p>
                    <p><label>Date uploaded:</label> {{item.dateupload | date: 'medium'}}</p>
                    <p><label>Date taken:</label> {{item.datetaken | date: 'medium'}}</p>
                    <p><label>Views:</label> {{item.views}}</p>
                </div>
            </div>
        </div>
    </div>
</div>